<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OM.Notifications.Facade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="2147483647"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_INotificationsService" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"/>
        <binding name="BasicHttpBinding_INotificacionesPorSolicitud" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://coboap45/OM.Notifications.Service/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionesPorSolicitud" contract="WsNotificacionesPorSolicitud.INotificacionesPorSolicitud" name="BasicHttpBinding_INotificacionesPorSolicitud"/>
      <endpoint address="http://coboap45/OM.Notifications.Service/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationsService" contract="WsNotificationsService.INotificationsService" name="BasicHttpBinding_INotificationsService"/>
      <!--<endpoint address="http://localhost/OM.Notifications/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationsService" contract="WsNotificationsService.INotificationsService" name="BasicHttpBinding_INotificationsService" />-->
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OM.Common.Configuration" publicKeyToken="4aa5575d896fe3bf" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <OM.Notifications.Facade.Properties.Settings>
      <setting name="UseProxyForMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseProxyForEmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseProxyForContacts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LegacyProxyEndpoint" serializeAs="String">
        <value>http://coboap45/OM.Notifications.Service/service</value>
      </setting>
      <setting name="StandardProxyEndpoint" serializeAs="String">
        <value>http://coboap45/OM.Notifications.Service/service</value>
      </setting>
      <setting name="UseWindowsServiceProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseProxyForMSMQMessage_Mexico" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseProxyForMSMQMessage" serializeAs="String">
        <value>True</value>
      </setting>
    </OM.Notifications.Facade.Properties.Settings>
  </applicationSettings>
</configuration>