<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OM.Notifications.Processors.OnlineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OM.Notifications.Processors.OnlineService.Properties.Settings>
            <setting name="OM_Notifications_Processors_OnlineService_WsElibom_SendMessageWSService" serializeAs="String">
                <value>https://www.elibom.com/services/sendmessagews</value>
            </setting>
            <setting name="OM_Notifications_Processors_OnlineService_WsInalambria_ServiceSend" serializeAs="String">
                <value>http://soa.inalambria.com/IMPWebServiceSend.asmx</value>
            </setting>
        </OM.Notifications.Processors.OnlineService.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebRequestProxyService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cobodvdb18/OM.WebRequestProxy/WebRequestProxyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebRequestProxyService" contract="WebRequestProxy.IWebRequestProxyService" name="BasicHttpBinding_IWebRequestProxyService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
